# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "4548a8c3437bd4ea01a283eb8ceb84da"
name = "Conditional Discount"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_discounts,write_discounts,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
